:root {
    --primary-color: #00cec9;
    --bg-color: #dfe6e9;
    --text-color: white;
}

.Block {
    display: flex;
    padding:20px 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* position: absolute; */
}

.container {
    background: white;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    width: 47%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(4, 3, 3, 0.12);
    height: 180px;
    margin: 0.5rem 1rem;
    color: var(--primary-color);
}

.container::after {
    content: '';
    background: var(--primary-color);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    clip-path: circle(10% at 0% 0%);
    transition: all .3s ease-in;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .3s ease-in;
}
.content img{
    width: 70px;
    height: 70px;
    text-align: center;
}
.container:hover::after {
    clip-path: circle(100%);
}
.content h2{
    text-align: center;
    width: 100%;
}
.container:hover .content {
    color: var(--text-color);
}
@media(min-width:0) and (max-width:750.9px){
    .Block {
        padding:20px 10px;
    }
    .container {
        width: 95%;
        height: 160px
    }
    .content img{
        width: 50px;
        height: 50px;
    }
    .content h2{
        font-size: 20px;
    }
}
@media(min-width:751px) and (max-width:1250px){
    .Block {
        padding:20px 10px;
    }  
    .container {
        width: 45%;
        height: 160px
    }
}