.container {
    background: white;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 2px 15px rgb(0 0 0 / 12%);
    height: 160px;
    margin: 5px;
    color: #0022ce;
}
.container img{
    text-align: center;
    margin:  0.5rem auto;
}

.container::after {
    content: '';
    background: #0022ce;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    clip-path: circle(10% at 0% 0%);
    transition: all .3s ease-in;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}
.content h2{
    font-size: 18px;
    text-align: center;
    width: 100%;
}
.content img{
    width: 70px;
    text-align: center;
    height: 70px;
}
.container:hover::after {
    clip-path: circle(100%);
}
.content h2{
    text-align: center;
    width: 100%;
}
.container:hover .content {
    color: var(--text-color);
}
.Block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}